// nothing overwritten yet

@fontface: 'Fuzzy Bubbles', Consolas;

@font-weight-light: 400;
@font-weight: 400;
@font-weight-medium: 700;
@font-weight-bold: 700;

@font-weight-set: {
	// light: @font-weight-light;
	normal: @font-weight;
	// medium: @font-weight-medium;
	bold: @font-weight-bold;
};